> # **K Fold Cross Validation**

In [ ]:
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.utils import shuffle
import numpy as np
import pandas as pd

### > Using Company Salary Data Set

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/FML/Company_data.csv')

In [ ]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
X = data.drop('Sales',axis=1)
y = data['Sales']

In [ ]:
kf = KFold(n_splits=3, random_state = 12, shuffle=True)
kf

KFold(n_splits=3, random_state=12, shuffle=True)

In [ ]:
def get_score(model,X_train,X_test,y_train,y_test):
  model.fit(X_train,y_train)
  return model.score(X_test,y_test)

In [ ]:
def scoreVal(X,y):
  valScore_lr=[]
  valScore_rfr=[]

  for train_set, test_set in kf.split(X):
    X_train,X_test,y_train,y_test = X.loc[train_set], X.loc[test_set], y.loc[train_set], y.loc[test_set]
    rfr = RandomForestRegressor(n_estimators = 100, random_state = 0)
    valScore_rfr.append(get_score(rfr,X_train,X_test,y_train,y_test))
    lr = LinearRegression()
    valScore_lr.append(get_score(lr,X_train,X_test,y_train,y_test))
    
  print('Linear Regression Score : ', max(valScore_lr))
  print('Random Forest Regression Score : ', max(valScore_rfr))

In [ ]:
print('Cross Validation scores of Company DataSet are:')
scoreVal(X,y)

Cross Validation scores of Company DataSet are:
Linear Regression Score :  0.9252390232947008
Random Forest Regression Score :  0.9643354818512461

> Using 50 StartUp DataSet

In [ ]:
# data50 = pd.read_csv('/content/50_Startups.csv')
data50 = pd.read_csv('/content/drive/MyDrive/FML/50_Startups.csv')

In [ ]:
data50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
data50.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
X = data50.iloc[:,:3]
y = data50.iloc[:,4]

In [ ]:
# X = data50.drop('Profit' , axis=1)
# X = X.drop('State', axis=1)
# y = data50['Profit']

In [ ]:
print('Cross Validation scores of 50_Startups DataSet are :')
scoreVal(X,y)

Cross Validation scores of 50_Startups DataSet are :
Linear Regression Score :  0.9846337335972346
Random Forest Regression Score :  0.9549443929919046